.DS_Store
www/
.sendmail/
.log/
.drush/
.mysql/
.console/
docker/environment
docker/.environment.env
.idea/workspace.xml
docker/passwords

# Ignore some Drupal directories.
drupal/vendor
drupal/modules/contrib
drupal/themes/contrib
drupal/web/sites/**/files
settings.local.php

# While developing the environment template, ignore whole drupal dir
drupal
